body {
  font-family: 'Roboto', sans-serif;
  background: url('./image.png') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #34a853;
  --secondary-color: #2c8a45;
  --text-color: #ffffff;
  --warm-text-color: #ffebc1; /* warm color for better readability */
  --border-radius: 12px;
  --transition-speed: 0.3s;
}

button {
  padding: 10px 25px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-speed);
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

button:hover {
  background-color: var(--secondary-color);
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: var(--border-radius);
  font-size: 16px;
  margin-bottom: 10px;
  transition: border-color var(--transition-speed);
  background-color: rgba(255,255,255,0.2);
  color: var(--warm-text-color); /* warm text color for visibility */
}

input::placeholder, textarea::placeholder {
  color: #ddd; /* Lighter placeholder for subtle effect */
}

input:focus, textarea:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 8px rgba(52,168,83, 0.7);
}

h1 {
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}
